.calendarContainer {
  color: #8A8A8A;
  font-weight: bold;
}
.calendarHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
  font-size: 2rem;
}
.dayContainer{
  font-size: 1.8rem;
  width: 14.28%;
  display:flex;
  align-items: center;
  justify-content: center;
}
