.button-create {
	font-size: 1rem;
	font-weight: bold;
	color: var(--blue_ligth);
	padding: 10px;
	border: 1px solid var(--blue_ligth);
	border-radius: 25px;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #fafafa;
}
.button-edit{
	font-size: 1rem;
	font-weight: bold;
	color: var(--blue_ligth);
	padding: 10px;
	border: 1px solid var(--blue_ligth);
	border-radius: 25px;
	cursor: pointer;
	position: absolute;
	right: 80px;
	top: 20px;
	background-color: #fafafa;
}
.button-remove{
	font-size: 1rem;
	font-weight: bold;
	color: var(--blue_ligth);
	padding: 10px;
	border: 1px solid var(--blue_ligth);
	border-radius: 25px;
	cursor: pointer;
	position: absolute;
	right: 140px;
	top: 20px;
	background-color: #fafafa;
}
.button-close{
	font-size: 1rem;
	font-weight: bold;
	color: var(--blue_ligth);
	padding: 10px;
	border: 1px solid var(--blue_ligth);
	border-radius: 25px;
	cursor: pointer;
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: #fafafa;
}
.badgesContainer{
	display: flex;
	flex-direction: row;
}
.badges{
	width:40px;
	height: 40px;
	margin-right: 5px;
	border-radius: 20px;
	cursor: pointer;
}
.selectedBadge{
	border: 4px solid gray
}
.reminderCard{
	padding:15px;
	width:20%;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 200px;
	max-height: 300px;
}
.reminContainer{
	display: flex;
	flex:1;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: scroll;
	align-items: center;
	text-align: center;
}
.reminderTitle{
	font-weight: bold;
	font-size: 1.3rem;
}
.reminderCity{
	font-weight: bold;
}
.reminderText{
	word-wrap: break-word;
}
.cityContainer{
	/* background-color: rgba(0,0,0,0.1);
	position: absolute;
	bottom:0px;
	height: 80px;
	width: 17%; */

}